In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
mapping = {
    "Freezing": 0,
    "Warm": 1,
    "Cold": 2,
    "Bolling Hot": 3,
    "Hot": 4,
    "Lava Hot": 5
}

df = pd.read_csv('train.csv')
df.loc[:, "ord_2"] = df.ord_2.map(mapping)

In [4]:
df.ord_2.value_counts()

0.0    142726
1.0    124239
2.0     97822
4.0     67508
5.0     64840
Name: ord_2, dtype: int64

In [6]:
df["ord_2_count"] = df.groupby(["ord_2"])["id"].transform("count")

In [7]:
df

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target,ord_2_count
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,3.0,Contributor,4.0,c,U,Pw,6.0,3.0,0,67508.0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,3.0,Grandmaster,1.0,e,X,pE,7.0,7.0,0,124239.0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,3.0,NaN,0.0,n,P,eN,5.0,9.0,0,142726.0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,1.0,Novice,5.0,a,C,NaN,3.0,3.0,0,64840.0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,3.0,Grandmaster,2.0,h,C,OZ,5.0,12.0,0,97822.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,599995,0.0,1.0,0.0,T,N,Red,Polygon,Axolotl,India,...,3.0,Novice,0.0,a,R,GZ,5.0,NaN,0,142726.0
599996,599996,1.0,0.0,0.0,T,Y,Blue,Polygon,Dog,Costa Rica,...,2.0,Novice,NaN,n,N,sf,NaN,3.0,0,NaN
599997,599997,0.0,0.0,0.0,F,Y,Red,Circle,Axolotl,Russia,...,2.0,Contributor,0.0,n,H,MV,7.0,5.0,0,142726.0
599998,599998,1.0,1.0,0.0,F,Y,NaN,Polygon,Axolotl,NaN,...,1.0,Master,1.0,m,X,Ey,1.0,5.0,0,124239.0
599999,599999,0.0,0.0,0.0,T,N,Blue,Triangle,Dog,Russia,...,1.0,Contributor,NaN,b,O,uI,5.0,8.0,0,NaN

In [8]:
df.ord_4 = df.ord_4.fillna('NONE')
df.loc[
    df["ord_4"].value_counts()[df["ord_4"]].values < 2000,
    "ord_4"
] = "RARE"

In [9]:
df.ord_4.value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
NONE    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
RARE     3607
G        3404
V        3107
Name: ord_4, dtype: int64